@import "../../../index.scss";

.SearchBar{
    display: flex;
    border-radius: 1.5rem;
    width: 90%;
    margin: auto;
    margin-bottom: 0.5rem;
    background-color: $white;
}

.InputBar{
    border: none;
    width: 90%;
    padding: 0.5rem;
}

#InputBar{
    color: $back-color !important;
}

.SearchIco{
    color: $darker-color;
    margin: auto 0;
    height: 2.5rem;
    width: 2.5rem;
}