@import "../../index.scss";

.ChatModule{
    width: 100%;
    height: 100vh;
}

.ChatBackground{
    background-image: url("/bg_pic.png");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 80%;
}

.ImgBlur{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Chat_is_opened_bg{
    height: 90%;
}

#SelectChatSuggestion{
    display: block;
    background-color: rgba($color: $back-color, $alpha: 0.5) ;
    width: fit-content;
    padding: 0.5rem;
    margin: auto;
}