@import "../../index.scss";

.ModalCreateChat{
    position: fixed;
    z-index: 1300;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;

    :focus-visible{
        outline: none;
    }
}

.ModalCreateChat_Content{
    background-color: $back-color;
    color: $font-color;
    padding: 1rem;
    border-radius: 0.5rem;
}

.MuiPaper-root{
    border-radius: 1rem !important;
}

#ModalCreateChat_Content_Text{
    color: $font-color;
    margin: 0.5rem 0 1rem 0;
}

#ModalCreateChat_Content_NameInput{
    color: $font-color;
}

#ModalCreateChat_Content_NameInput-label{
    color: $font-color;
}

.MuiDialogContent-root{
    padding-top: 0 !important;
}

#ModalCreateChat_Button_Submit{
    color: $font-color;
    border-color: $font-color;
    margin: 0.5rem;
    margin-top: 1rem;
    margin-left: 40%;
}

#ModalCreateChat_Button_Submit:hover{
    background-color: $darker-color;
}

.MuiOutlinedInput-notchedOutline{
    border-color: $font-color !important;
}