@import "../../index.scss";

.RoleListModule{
    padding: 0;
    list-style-type: none;
    border: 0.0625rem solid $light-color;
    background-color: $back-color;
    height: 100vh;
    overflow: auto;
    width: 100%;
}

.RoleListModule_RoleList{
    height: 82%;
    border: 0.0625rem solid $light-color;
    border-left: none;
    border-right: none;
    width: 100%;
}

.RoleListItem{
    padding: 0 !important;
}