@import "../../index.scss";

.Container{
    background-color: $back-color;
    color: $font-color;
    height: 100%;
    flex-direction: row;
    max-width: 1600px;
    padding: 0;
    margin: 0 auto;
}