@import "../../index.scss";

.MainPage_ChatList_ChatItem{
    display: flex;
}

.MainPage_ChatList_ChatItem_ChatInfo{
    display: inline;
    margin: auto;
    margin-left: 0.5rem;
}

#ChatItemIndicator{
    margin: auto;
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
    height: 1rem;
}

#ChatItemIndicator > .MuiButtonBase-root > .MuiSvgIcon-root{
    color: $light-color;
    width: 100%;
    height: 100%;
}