$light-color: rgb(242, 228, 209);

.MainPage_ChatList_ChatBlock{
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid $light-color;
}

.MainPage_ChatList_ChatBlock_ChatInfo{
    display: inline;
    margin: auto;
    margin-left: 0.5rem;
}