@import "../../../../index.scss";

.default-button{
    display: inline;
    font-size: medium;
    margin: 0 0.5rem;

    background-color: $darker-color;
    color: $light-color;
    border: 1px solid $light-color;
}