$light-color: #77964f;
$darker-color: #3b4a27;
$back-color: #2f3d2b;
$font-color: #77964f;
$white: #fff;

html{
    height: 100%;
}

body{
    margin: 0 auto;
    height: 100%;
}

#root{
    height: 100%;
    overflow: hidden;
}

.activeItem{
    background-color: $darker-color;
}