@import "../../index.scss";

.MainPage_ChatList{
    padding: 0;
    list-style-type: none;
    border: 1px solid $light-color;
    background-color: $back-color;
    height: 100%;
    overflow: auto;
}

.MainPage_ChatList > *{
    border-bottom: 1px solid $light-color;
}